.header{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 88px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    /* background-color: rgb(72, 72, 72); */
}

.landing-page-frame97 {
    top: 18px;
    left: 101px;
    width: 85.6%;
    display: flex;
    position: absolute;
    align-items: center;
    border-color: transparent;
    /* background-color: bisque; */
}
.landing-page-frame96 {
    width: 50%;
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
    margin-right: 474px;
    /* background-color: aquamarine; */
}

.landing-page-group21841 {
    width: 50%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    margin-right: 88px;
    /* background-color: aqua; */
}

.header .header-circle{
    top: 6px;
    left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    border-color: transparent;
}
.header .header-arrow{
    top: 5px;
    left: 17px;
    width: 22px;
    height: 22px;
    position: absolute;
}
.brand-logo{
    left: 25%;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 1.79em;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Helvetica;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    /* background-color: blue; */
}

.nav-bar{
    width: 800px;
    /* height: 22px; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    /* background-color: aqua; */
    color: #000000;
}
.nav-bar-text{
    color: rgba(0, 0, 0, 1);
    font-size: .9rem;
    font-style: Medium;
    text-align: left;
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 2em;
}
.try-button{
    display: flex;
    padding: 16px 24px;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 70px;
    background-color: rgba(52, 96, 255, 1);
    /* margin-left: 1.8em; */
}

.try-button-text{
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
}

.landing-page-hero-section{
    display: hidden;
    top: 88px;
    left: 0px;
    /* margin-top: 5%; */
    width: 100%;
    height: 650px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    /* background-color: rgb(198, 161, 161); */
}

.landing-page-group589 {
    position: absolute;
    top: 10%;
    left: 100px;
    width: 498px;
    height: 594px;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: flex-start;
    /* background-color: greenyellow; */
  }

.landing-page-text{
    color: rgba(0, 0, 0, 1);
    width: 498px;
    height: auto;
    position: absolute;
    font-size: 5em;
    align-self: auto;
    font-style: Semibold;
    text-align: left;
    font-family: 'DM Sans';
    font-weight: 600;
    line-height: 110px;
    font-stretch: normal;
}
.landing-page-sub-text{
    top: 58%;
    color: rgba(0, 0, 0, 0.6000000238418579);
    width: 413px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: "DM Sans";
    font-weight: 400;
    line-height: 32px;
    font-stretch: normal;
    text-decoration: none;
}

.connect{
    top: 81%;
    left: 0px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
}

.email-div{
    width: 309px;
    display: flex;
    padding: 20px 18px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border: .5px solid rgba(0, 0, 0, 0.2);
    margin-right: 12px;
    border-radius: 37px;
    background-color: rgb(255, 255, 255);
}

.email{
    color: rgba(0, 0, 0, 0.553);
}

.lets-talk-div{
    height: 62px;
    display: flex;
    padding: 20px 24px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 70px;
    justify-content: center;
    background-color: rgba(52, 96, 255, 1);
}

.lets-talk{
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: "DM Sans";
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.landing-page-group237494{
    position: absolute;
    top: 18%;
    left: 55%;
    width: 40%;
    height: 79%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    /* background-color: aquamarine; */
}

.img-stack-basic{
    position: absolute;
    border-color: transparent;
    border-radius: 119.5px;
}
.rectangle196 {
    /* top: 0px;
    left: 0px; */
    width: 327px;
    height: 220px;
}
.rectangle200 {
    top: 0px;
    left: 327px;
    width: 220px;
    height: 220px;
}
.rectangle201 {
    top: 219px;
    left: 0px;
    width: 221px;
    height: 170px;
}
.rectangle202 {
    top: 220px;
    left: 221px;
    width: 327px;
    height: 170px;
}
.rectangle204 {
    top: 390px;
    left: 221px;
    width: 164px;
    height: 220px;
}
.rectangle205 {
    top: 390px;
    left: 385px;
    width: 163px;
    height: 220px;
}
.ellipse84 {
    top: 390px;
    left: 0px;
    width: 221px;
    height: 220px;
}

.cloud-2{
    top: 53%;
    left: 144px;
    width: 130px;
    height: 111px;
    position: absolute;
}
.cloud-1 {
    top: -10%;
    left: 42%;
    width: 130px;
    height: 111px;
    position: absolute;
} 
.loving-emoji{
  top: 52px;
  left: 564px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: 69px;
  height: auto;
  position: absolute;
  font-size: 54.4444465637207px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: 68.05555725097656px;
  font-stretch: normal;
  text-decoration: none;
/* padding: 2em; */
/* background-color: aqua; */
}
.pencile{
  top: 400px;
  left: 900px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: 90px;
  position: absolute;
  font-size: 84px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-weight: 900;
  line-height: 105px;
  font-stretch: normal;;
}
.girl-emoji {
  top: 574px;
  left: 1090px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 98.00000762939453px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: 122.50000762939453px;
  font-stretch: normal;
  text-decoration: none;
}
.crown {
  top: 570px;
  left: 1250px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 98.00000762939453px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: 122.50000762939453px;
  font-stretch: normal;
  text-decoration: none;
}
.just{
  top: 240px;
  left: 508px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 54.4444465637207px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: 68.05555725097656px;
  font-stretch: normal;
  text-decoration: none;
}
