.company-partners{
    position: absolute;
    top: 115%;
    left: 0px;
    width: 100%;
    height: 552px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(250, 250, 250, 1);
}
.text-band{
    position: absolute;
    top: 78px;
    left: 100px;
    width: 729px;
    height: 108px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}
.company-heading{
    color: rgba(0, 0, 0, 1);
    width: 280px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Semibold;
    text-align: left;
    font-family: "DM Sans";;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.random-text{
    position: absolute;
    top: 12px;
    left: 316px;
    color: rgba(37, 37, 37, 1);
    width: 413px;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: "DM Sans";;
    font-weight: 400;
    line-height: 28px;
}
.companies-band-1, .companies-band-2{
    position: absolute;
    top: 275px;
    left: 100px;
    width: 85%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}

.company-logo-common{
    height: 48px;
    position: relative;
}

.spotify{
    width: 140px; 
}
.google{
    width: 113px;
}
.uber{
    width: 72px;
}
.microsoft{
    width: 164px;
}
.shopify{
    width: 127px;
}
.companies-band-2{
    top: 417px;
}
.evernote{
    width: 164px;
}
.adobe{
    width: 133px;
}
.paypal{
    width: 143px;
}
.amazon{
    width: 110px;
}
.asana{
    width: 127px;
}

@media only screen and (max-width: 480px)  {
    .company-partners{
        top: 115%;
        width: 100%;
        height: 442px;
    }
    .spotify{
        width: 75px; 
    }
    .google{
        width: 75px;
    }
    .uber{
        width:45px;
    }
    .microsoft{
        width: 75px;
    }
    .shopify{
        width: 75px;
    }
    .evernote{
        width: 75px;
    }
    .adobe{
        width: 75px;
    }
    .paypal{
        width: 75px;
    }
    .amazon{
        width: 60px;
    }
    .asana{
        width: 50px;
    }
    .company-logo-common{
        height: 48px;
        margin: .5em ;
        position: relative;
    }
    .companies-band-1{
        top : 225px
    }
    .companies-band-2{
        top : 300px
    }
}