.our-commitments{
    position: absolute;
    top: 185%;
    left: 0px;
    width: 100%;
    height: 520px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    overflow: hidden;
    /* background-color: aqua; */
}
.container-1{
    position: absolute;
    top: 103px;
    left: 100px;
    width: 86.5%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    /* background-color: aqua; */
}
.col1{
    width: 505px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 125px;
    flex-direction: column;
}
.row-1, .row-2{
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    margin-bottom: 42px;
}

.audience, .revenue, .brands, .partnership{
    position: relative;
    width: 188px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    margin-right: 158px;
}
.highlight-text-bold{
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 64px;
    align-self: auto;
    font-style: Semibold;
    text-align: left;
    font-family: "DM Sans";
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0px;
    text-decoration: none;
}
.highlight-text{
    color: rgba(0, 0, 0, 0.6000000238418579);
    width: 155px;
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: "DM Sans";
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}


.commitments-textbox{
    height: 300px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
    margin-left: 5em;
}
.head-text{
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 42px;
    flex-direction: column;
    /* background-color: aquamarine; */
    
}
.hide{
    display: none;
}
.commitments-heading{
    color: rgba(0, 0, 0, 1);
    width: 385px;
    height: auto;
    font-size: 40px;
    align-self: auto;
    font-style: Semibold;
    text-align: left;
    font-family: "DM Sans";
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-bottom: 12px;
}
.commitments-text{
    color: rgba(0, 0, 0, 0.6000000238418579);
    width: 610px;
    font-size: 18px;
    text-align: left;
    font-family: "DM Sans";
    font-weight: 400;
    line-height: 32px;
}
.learn-more-img{
    width: 120px;
    height: 24px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: flex-start;
    transition: all 325ms ease-in;
    border-radius: 1.5em;
    /* padding: 0.3em .7em; */
}

.commitment-learn-more-text{
    color: rgba(52, 96, 255, 1);
    width: 105px;
    /* position: absolute; */
    font-size: 18px;
    align-self: auto;
    text-align: left;
    font-family: "DM Sans";
    font-weight: 600;
    line-height: 24px;
    text-decoration: underline;
    /* transition: all 325ms ease-in; */
}

.vector4 {
    top: 6px;
    left: 105px;
    width: 15px;
    height: 13px;
    position: absolute;
}

@media only screen and (max-width: 480px){
    .our-commitments{
        top: 185%;
        width: 95%;
        height: 620px;
        margin: .5em;
        /* background-color: aqua; */
    }
    .hide{
        display: block;
        /* margin-bottom: 2em; */
    }
    .container-1{
        position: absolute;
        flex-direction: column;
        top: 80px;
        left: 0px;
        margin: 1em;
        width: 100%;
        /* background-color: aqua; */
    }
    .col1{
        width: 100%;
        margin-right: 0px;
    }
    .row-1, .row-2{
        margin-bottom: 5px;
    }
    .highlight-text-bold{
        font-size: 40px;
    }

    .revenue, .brands{
        margin-right: 50px;
    }

    .commitments-textbox{
        width: 100%;
        margin: 2em 0;
        height: 155px;
    }

    .head-text{
        height: 10px;
        width: 95%;
        /* background-color: blue; */
        margin: 0px;
    }

    .head-text .commitments-heading{
        display: none;
    }

    .commitments-text {
        width: 100%;
        margin: 0em;
        /* background-color: aquamarine; */
        font-size: 13px;
        text-align: justify;
        font-family: "DM Sans";
        line-height: 25px;
    }
}